h1 {
  color: green;
}

body {
  text-align: center;
  margin: auto;
}

.content {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
  line-height: 30px;
  margin: 6px;
  max-width: 700px;
  padding: 16px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.clickedItem {
  font-weight: bold
}
